.border-3 {
  border-right-width: 5px;
}

[name="rss-source-card"] {
  
}

@media (max-width: 590px) {
  [name='header-title'] {
    font-size: x-large;
  }

  [name='header-subtitle'] {
    font-size: large;
  }
}
